rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 用戶集合的規則
    match /users/{userId} {
      // 允許讀取用戶自己的資料
      allow read: if request.auth != null && (request.auth.uid == userId);
      
      // 允許創建新用戶 - 註冊時使用
      allow create: if request.auth != null 
        && request.auth.uid == userId
        && request.resource.data.uid == userId
        && request.resource.data.email == request.auth.token.email
        && request.resource.data.role in ['student', 'teacher'];

      // 允許更新自己的資料
      allow update: if request.auth != null 
        && request.auth.uid == userId
        && request.resource.data.uid == userId
        && request.resource.data.role == resource.data.role;
    }

    // 請假申請集合的規則
    match /leaves/{leaveId} {
      // 允許讀取自己的請假申請，教師可以讀取所有
      allow read: if request.auth != null;
      
      // 允許創建請假申請
      allow create: if request.auth != null;
        
      // 允許更新自己的請假申請
      allow update: if request.auth != null;
      
      allow delete: if request.auth != null &&
  		resource.data.userId == request.auth.uid &&
  		resource.data.status in ['pending','rejected'];
    }
  }
}